<style type="text/css">

        @keyframes color-animation1 {
		/* 
			the colors at "midnight"
		*/
		0%, 100% {
			background: rgb(243,235,235,0.4);
		}
		
	                    /* The color during astronomical_twilight_begin */
			    13% {
			       background: rgb(241,233,233,0.4);
			    }
						/* The color during nautical_twilight_begin */
			    17% {
			       background: rgb(238,230,230,0.4);
			    }
						/* The color during civil_twilight_begin */
			    20% {
			       background: rgb(228,224,224,0.4);
			    }
						/* The color during sunrise */
			    23% {
			       background: rgb(219,214,214,0.4);
			    }
						/* The color during transit */
			    54% {
			       background: rgb(220,216,216,0.4);
			    }
						/* The color during sunset */
			    86% {
			       background: rgb(229,224,224,0.4);
			    }
						/* The color during civil_twilight_end */
			    88% {
			       background: rgb(231,224,224,0.4);
			    }
						/* The color during nautical_twilight_end */
			    91% {
			       background: rgb(225,221,221,0.4);
			    }
						/* The color during astronomical_twilight_end */
			    95% {
			       background: rgb(214,210,210,0.4);
			    }
			    
        }
        
     @keyframes color-animation2 {
		/* 
			the colors at "midnight"
		*/
		0%, 100% {
			background: rgb(222,222,222,0.4);
		}
		
	                    /* The color during astronomical_twilight_begin */
			    13% {
			       background: rgb(224,222,222,0.4);
			    }
						/* The color during nautical_twilight_begin */
			    17% {
			       background: rgb(227,224,224,0.4);
			    }
						/* The color during civil_twilight_begin */
			    20% {
			       background: rgb(231,224,224,0.4);
			    }
						/* The color during sunrise */
			    23% {
			       background: rgb(231,224,224,0.4);
			    }
						/* The color during transit */
			    54% {
			       background: rgb(232,225,225,0.4);
			    }
						/* The color during sunset */
			    86% {
			       background: rgb(235,224,224,0.4);
			    }
						/* The color during civil_twilight_end */
			    88% {
			       background: rgb(236,225,225,0.4);
			    }
						/* The color during nautical_twilight_end */
			    91% {
			       background: rgb(237,223,223,0.4);
			    }
						/* The color during astronomical_twilight_end */
			    95% {
			       background: rgb(239,220,220,0.4);
			    }
			    
        }

	body {
	width: 100%
	padding: 0
	margin: 0;
	}
	
	#goodmorning {
	top: 0px;
	left: 0px;
	bottom: 0px;
	text-align: left;
	font-family: helvetica;
	font-size: 12px;
	color: grey;
	background: transparent;
	text-transform: none;
	}

	#goodmorning-content {
	padding-top: 20px;
    padding-left: 6px;
    padding-right: 60px;
    padding-bottom: 20px;
	width: 500px;
	}
	
	#goodnight {
	top: 0px;
	left: 0px;
	bottom: 0px;
	text-align: left;
	font-family: helvetica;
	font-size: 12px;
	color: grey;
	background: transparent;
	text-transform: none;
	}
	
	#goodnight-content {
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    width: 500px;
    float: right;
	}
	
	
	h1 {
	font-size: 14px;
	font-family: Helvetica;
	color: #1B2631;
	line-height: 11px;
	padding-bottom: 20px;
	text-transform: lowercase;
	padding-left: 40px;
	}
	
	h2 {
	font-size: 14px;
	font-family: Helvetica;
	color: #1B2631;
	line-height: 11px;
	padding-top:40px;
	padding-bottom: 20px;
	text-transform: lowercase;
	}
	
	h3 {
	font-size: 14px;
	font-family: Helvetica;
	color: #1B2631;
	line-height: 11px;
	padding-top: 5px;
	padding-bottom: 20px;
	text-transform: lowercase;
	text-align: left;
	}
	
	a {
	font-size: 14px;
	font-family: Helvetica;
	color: #1B2631;
	line-height: 11px;
	padding-top: 5px;
	padding-bottom: 20px;
	text-transform: lowercase;
	text-align: left;
	text-decoration: none;
	}
	
	h4 {
	font-size: 14px;
	font-family: Helvetica;
	color: #1B2631;
	line-height: 11px;
	padding-bottom: 20px;
	text-transform: lowercase;
	padding-left: 40px;
	text-align: right;
	}
	
    ol {
    font-size: 14px;
	font-family: Helvetica;
	color: #1B2631;
    list-style-type: none;
    font-weight: 300;
	text-transform: none;
    }
    
    .content {
    font-size: 14px;
	font-family: Helvetica;
	color: #1B2631;
    list-style-type: none;
    font-weight: 300;
	text-transform: none;
    }
    
    .img {
    width: 100%;
    height: 100%;
    }
    
    .top, .bottom {
    position: absolute;
    left: 0;
    right: 0;
    }

    .top {
    top: 0;
    height: 50%;
    width: 100%;
    overflow-y: scroll;
    animation: color-animation1 15s ease infinite normal;
    }

    .bottom {
    bottom: 0;
    height: 50%;
    width: 100%;
    overflow-y: scroll;
    animation: color-animation2 15s ease infinite normal;
    }


	.disable-text {
     -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer */
     -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
     -webkit-user-select: none; /* Chrome, Safari, and Opera */
     -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
    
	</style>
