<style type="text/css">

	body {
	width: 100%
	padding: 0;
	margin: 0;
	}
	
	#goodmorning {
	top: 0px;
	left: 0px;
	bottom: 0px;
	text-align: left;
        font-family: 'times', serif;
	font-size: 18px;
	line-height: 16px;
	color: grey;
	background: #2D2E2E;
	text-transform: none;
	}

	#goodmorning-content {
	padding-top: 20px;
   	padding-left: 6px;
    	padding-right: 60px;
    	padding-bottom: 20px;
	width: 300px;
	}
	
	#goodnight {
	top: 0px;
	left: 0px;
	bottom: 0px;
	text-align: left;
	font-family: 'times', serif;
	font-size: 18px;
	line-height: 16px;
	color: grey;
	background: transparent;
	text-transform: none;
	}
	
	#goodnight-content {
    	padding-top: 20px;
    	padding-left: 60px;
    	padding-right: 60px;
    	padding-bottom: 20px;
    	width: 300px;
    	float: right;
	}
	
	
	h1 {
	font-size: 14px;
	font-family: Helvetica;
	color: #1B2631;
	line-height: 11px;
	padding-bottom: 20px;
	text-transform: lowercase;
	padding-left: 40px;
	}
	
	h2 {
	font-size: 14px;
	font-family: Helvetica;
	color: #1B2631;
	line-height: 11px;
	padding-top:40px;
	padding-bottom: 20px;
	text-transform: lowercase;
	}
	
	h3 {
	font-size: 14px;
	font-family: Helvetica;
	color: #1B2631;
	line-height: 11px;
	padding-top: 5px;
	padding-bottom: 20px;
	text-transform: lowercase;
	text-align: left;
	}
	
	a {
	font-size: 14px;
	font-family: Helvetica;
	color: #1B2631;
	line-height: 11px;
	padding-top: 5px;
	padding-bottom: 20px;
	text-transform: lowercase;
	text-align: left;
	text-decoration: none;
	}
	
	h4 {
	font-size: 14px;
	font-family: Helvetica;
	color: #1B2631;
	line-height: 11px;
	padding-bottom: 20px;
	text-transform: lowercase;
	padding-left: 40px;
	text-align: right;
	}
	
 	.list{
  	padding: 3em 8em;
  	animation: fadein 2s;
  	position: relative;
  	z-index: 0;
	}
    
    	.img {
    	width: 100%;
    	height: 100%;
    	}
    
    .top, .bottom {
    position: absolute;
    left: 0;
    right: 0;
    }

    .top {
    top: 0;
    height: 50%;
    width: 100%;
    overflow-y: scroll;
    animation: color-animation1 15s ease infinite normal;
    }

    .bottom {
    bottom: 0;
    height: 50%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    animation: color-animation2 15s ease infinite normal;
    }


	.disable-text {
     -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer */
     -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
     -webkit-user-select: none; /* Chrome, Safari, and Opera */
     -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
    
	</style>
